body {
	background-color: #F4F1BB
	color: #515151;
	font-family: monospace;
	width: 66%;
	margin: 0 auto;
}

/* NAVBAR */

nav {
	font-size: 20px;
}

nav ul {
	list-style-type: none;
}

nav a, a:visited {
	text-decoration: none;
	color: #515151;
}

/* Grid on index page */

.wrapper {
    width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  grid-gap: 0px;
}

.box {
  border-radius: 5px;
  padding: 20px;
  font-size: 110%;
}

a {
	width: 100%;
}
